.btn {
    height: 45px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: $main_color_1;
    padding: 12px 25px;
    transition: all .5s;

    &:hover {
        background-color: rgba($color: $main_color_1, $alpha: .3);
    }
}